@font-face {
  font-family: "Roboto";
  src: url(../Roboto/Roboto-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(../Roboto/Roboto-LightItalic.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url(../Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

.info-head {
  padding: 30px 0px;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.statistic-container {
  text-align: center;
  margin: 0px;
}

.info-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-content-child {
  width: 15%;
  margin: 0px 30px;
}

.info-content-child figcaption {
  margin: 10px;
  font-size: 15px;
}

.info-content-child img {
  align-items: center;
  width: 100%;
  border-radius: 20px;
  height: 100px;
}

@media (max-width: 925px) {
  .info-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .info-content-child {
    width: 60vw;
  }
}

@media (max-width: 570px) {
  .info-content-child {
    width: 90vw;
  }
}
