@font-face {
    font-family: "Roboto";
    src: url(../Roboto/Roboto-Black.ttf) format('truetype');
}

.info-head {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.info-content {
    display: flex;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;

    /* background-color: red; */
}

.info-content-child {
    margin-left: 10%;
}

.info-content-child img {
    width: 45%;
}

.info-content-child p{
    font-size: 18px;
    color: #a5bceb;
    width: 40%;
    text-align: center;
}

