:root{
  --primary-color: #f9faf9;
  --secondary-color: #024e76;
  --tertiary-color: #1F2937;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 20px 150px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}
  
header h1 {
  margin: 0;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color .5s;
  font-size: 24px;
 
  
}

.figs {
  text-decoration: none;
    color: var(--secondary-color);
    transition: color .5s;
    font-size: 24px;
    border-radius: 10px;
}



a:hover {
  color: #5C9CFB;
}

.figs:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}

a:active {
  transform: scale(0.95)
}
a {
  transition: transform .5s;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 25px;
  font-weight: lighter;
  font-weight: normal;
  font-size: 18px;
  color: #E5E7EB;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background:var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

section {
  padding: 30px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--tertiary-color);
  padding-top: 8px;
  padding-right: 30px;
  padding-bottom: 38px;
  padding-left: 30px;
}

.hero-cta {
  width: 60%;
  text-align: left;
  margin: 3.5%;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.5;
}

.hero-cta h2 {
  font-weight: 600;
  font-size: 48px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-cta p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.5%;
  width: 50%;
}

.hero-img {
  /* width: 450px;
  height: 262px; */
  width: 100%;
  padding: 2px 2px;
  
}

.btn {
  background-color: #3882F6;
  border-color: #3882F6;
  text-decoration: none;
  color: #F9FAF8;
  margin-top: 6px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 15px;
  width: 100px;
  transition: color .5s;
}

.btn:hover{
  background:var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  border-color: #F9FAF8;
  text-shadow: none;
}

  /*====================================================================================
=           Usage page         =
=============================================*/


/*=============================================
=            Section  header-container        =
=============================================*/



.header-container > img{
  width: 100%;
  height: auto;
}

/*=============================================
=            Section  Usage-desc-container   =
=============================================*/

.usage-desc-container {
  display: block;
  padding-top:0px;
  padding: 50px 0px;
  
  text-align: center;
}

.usage-desc-container h2{
  padding-bottom: 20px;
}

.usage-desc-container p{
  padding: 40px 100px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/*=============================================
=            Section  start-continer   =
=============================================*/
.start-continer{
  display: flex;
  justify-content:space-between;
  padding: 80px;
  margin: 40px;
  background-color:#000000 ;
  color: white;
  
  gap: 50px ;
  flex-flow: row wrap;

}

.start-continer > p{
 flex-wrap: wrap;
 font-family: 'Roboto', sans-serif;
  
  
 
}

/*=============================================
=            Section  start-resource-continer  =
=============================================*/
.subtitle{
  text-align: center;
 
}
.start-resource-continer{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  
}
.start-resource-continer > figure{
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: 10px;
  max-width: 220px;
  margin: auto;
 
}

.start-resource-continer > img{
  max-width: 220px;
  max-height: 150px;
}
.start-resource-continer > figcaption{
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
 
/* Style for qoute and footer */

.quotation-container {
  font-family:'Roboto', sans-serif;
  font-weight: 100;
  background-color: #E5E7EB;
  text-align: center;
  padding: 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
blockquote {
  width: 50%;
  font-size: 36px;
  font-weight: 300;
  font-style: italic; 
  color: #1F2937;
  text-align: center;
}
cite {
  display: block;
  color: #1F2937;
  font-size: 25px;
  font-weight: bold;
  text-align: end;
}
footer {
  background-color: var(--tertiary-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #E5E7EB;
  padding: 25px 0;
  text-align: center;

}

.login-req {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #3882F6;
  border-radius: 15px;
}

.login-req h3{
  color: #F9FAF8;
}

.login-req p {
  color: #F9FAF8;
}

.animated {
  animation: .25s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 925px){
  .hero{
    flex-direction: column;
  
  }
  .hero-cta{
      width: 100%;
      text-align: center;
      
  }

  .hero{
    flex-direction: column;
    align-items: center
    ;
  }

  .hero-cta p{
    margin: 30px;
  }
  header {
    padding: 20px 20px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  header nav ul li a {
    padding: 10px 7px;
    font-weight: lighter;
    font-weight: normal;
    font-size: 18px;
    color: #E5E7EB;
    text-shadow: 0 0 10px rgb(0 0 0)
  }
  .login-req {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 780px){
  header {
    padding: 20px 20px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  header nav ul li a {
    padding: 10px 7px;
    font-weight: lighter;
    font-weight: normal;
    font-size: 18px;
    color: #E5E7EB;
    text-shadow: 0 0 10px rgb(0 0 0)
  }
  /* .login-req {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
  } */
}