:root{
  --primary-color: #f9faf9;
  --secondary-color: #024e76;
  --tertiary-color: #1F2937;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 150px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}
  
header h1 {
  margin: 0;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color .5s;
  font-size: 24px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 25px;
  font-weight: lighter;
  font-size: 18px;
  color: #E5E7EB;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background:var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

section {
  padding: 30px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: var(--tertiary-color);
  padding-top: 8px;
  padding-right: 30px;
  padding-bottom: 38px;
  padding-left: 30px;
}

.hero-cta {
  width: 35%;
  text-align: left;
  margin: 3.5%;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.5;
}

.hero-cta h2 {
  font-weight: 600;
  font-size: 48px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-cta p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-img {
  display: flex;
  position: relative;
  margin: 3.5%;
}

.hero-img-2 {
  width: 450px;
  height: 262px;
  padding: 2px 2px;
  
}

.btn {
  background-color: #3882F6;
  border-color: #3882F6;
  text-decoration: none;
  color: #F9FAF8;
  margin-top: 6px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 15px;
  width: 100px;
  transition: color .5s;
}

.btn:hover{
  background:var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  border-color: #F9FAF8;
  text-shadow: none;
}

  /*====================================================================================
=           Usage page         =
=============================================*/


/*=============================================
=            Section  header-container        =
=============================================*/



.header-container > img{
  width: 100%;
  height: auto;
}

/*=============================================
=            Section  Usage-desc-container   =
=============================================*/

.usage-desc-container{
  display: block;
  margin: 100px;
  text-align: center;
  
}

/*=============================================
=            Section  start-continer   =
=============================================*/
.start-continer{
  display: flex;
  justify-content:space-between;
  padding: 80px;
  background-color:#000000 ;
  color: white;
  
  gap: 50px ;
  flex-flow: row wrap;

}

.start-continer > p{
 flex-wrap: wrap;
  
  
 
}

/*=============================================
=            Section  start-resource-continer  =
=============================================*/
.subtitle{
  text-align: center;
 
}
.start-resource-continer{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  
}
.start-resource-continer > figure{
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: 10px;
  max-width: 220px;
  margin: auto;
 
}

.start-resource-continer > img{
  max-width: 220px;
  max-height: 150px;
}
.start-resource-continer > figcaption{
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
 
/* Style for qoute and footer */

.quotation-container {
  font-family:'Roboto', sans-serif;
  background-color: #E5E7EB;
  text-align: center;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
blockquote {
  width: 50%;
  background-color: #E5E7EB;
  text-align: center;
  background-color: #E5E7EB;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  text-align: center;
}
cite {
  display: block;
  color: #1F2937;
  font-size: 25px;
  font-weight: bold;
  text-align: end;
}
footer {
  background-color: var(--tertiary-color);
  font-size: 14px;
  color: #E5E7EB;
  padding: 25px 0;
  text-align: center;
}

